/* O que fazer? Criar uma regra de formatação */

/* Seletor (*) Univesal
Alterando o comportamento do box model CSS. Usando esta regra evitamos os problemas encontrados ao usar heigth, whith, padding e border ao mesmo tempo*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
}

div {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 8px;

    /* Espaçamento interno */
    padding: 16px;

    /* Sombra na caixa bloco
    box-shadow: cor distânciaX distânciaY suavização */
    box-shadow:
        red 5px 5px 10px,
        yellow -5px -5px 10px;
}

/* Tornando as imagens flexíveis/responsivas */
img {
    max-width: 100%;
}

figure {
    text-align: center;
}

h1 {
    font-family: Impact, Verdana, Arial e sans-serif;
    background-color: rgba(54, 54, 54, 0.397);
    border-radius: 8px 8px 0px 0px;
    color: rgb(230, 219, 219);
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: rgb(17, 17, 17) 5px 5px 6px;
}

h2 {
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    padding-left: 15px;
}

/* Seletor TAG (vale para todos os <a> */
a {
    text-decoration: none;
}

figure img {
    transform: scale(0.9);
    transition: 0.5s;
    filter: grayscale(100%);
}

/* Pseudo-Classe hover ação de passar o mouse */
figure img:hover {
    transform: scale(1) rotateX(180deg);
    filter: grayscale(0);
}

/* Seletor Agrupado (grupo de seletor com a mesma formatação */
p,
li {
    font-size: 20px;
}

/* Seletor Classe */
.centralizar {
    text-align: center;
}

.sombra {
    text-shadow: red 1px 1px 5px;
}

.destaque {
    background-color: black;
    color: azure;
    padding: 3px;
    border-radius: 4px;
}

.destaque-back {
    background-color: rgba(209, 165, 52, 0.575);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Regras para o menu e seus links */
nav {
    text-align: center;
}

/* Regras para o estado inicial dos links */

/* Seletor descendente */
nav a {
    color: black;
    font-weight: bold;
    background-color: rgba(73, 28, 197, 0.692);
    display: inline-block;
    width: 50%;
    padding: 10px;
    transition: 1s;
}

/* Regras de acionamento dos links (Ex. passar o mouse) */

nav a:hover,
nav a:focus {
    background-color: rgb(188, 196, 176);

}

nav a:first-child {
    border-bottom-left-radius: 10px;
}

nav a:last-child {
    border-bottom-right-radius: 10px;
}

/* O que fazer? Vamos criar uma regra de formatação */

/* Seletor (*) Univesal
Alterando o comportamento do box model CSS. Usando esta regra evitamos os problemas encontrados ao usar heigth, whith, padding e border ao mesmo tempo*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* Seletor Identificado (#) só pode ser usado uma vez na tag  */

#container {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 8px;
    padding: 16px;

    /* Sombra na caixa/bloco
    box-shadow = cor distorção distorção suavização */
    box-shadow:
        red 5px 15px 10px;
}

/* Tornado as imagens flexiveis/responsivas */
img {
    max-width: 100%;
}

figure {
    text-align: center;
}

/* Exercicio
Crie uma nova regra CSS para estilizar o elemento h1 com as seguintes caracteristicas
 
Fonte: Impact, Verdana, Arial e sans-serif
Cor de fundo: escura com um pouco de transparência
Cor do texto: clara
Espaçamento: interno APENAS pra cima e pra baixo
Letras maiúsculas
Texto alinhado no meio
Bordas arredondadas APENAS nos cantos superiores
Sombra no TEXTO*/
#container {
    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgba(0, 0, 240, 0.45);
        border-radius: 15px 15px 0px 0px;
        color: rgb(250, 248, 247);
        text-align: center;
        text-shadow: black 5px 5px 5px;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        letter-spacing: 5px;
        font-weight: lighter;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        margin: 0px;
    }
}

h2 {
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    padding-left: 15px;
}

/* Seletor TAG (vale para todos os <a> */
a {
    text-decoration: none;
}

figure img {
    transform: scale(0.9);
    transition: 0.5s;
    filter: grayscale(100%);
}

/* Pseudo-Classe hover ação de passar o mouse */
figure img:hover {
    transform: scale(1) rotateX(180deg);
    filter: grayscale(0);
}

/* Seletor Agrupado (grupo de seletor com a mesma formatação */
p,
li {
    font-size: 20px;
}

/* Seletor Classe */
.centralizar {
    text-align: center;
}

.sombra {
    text-shadow: red 1px 1px 5px;
}

.destaque {
    background-color: black;
    color: azure;
    padding: 3px;
    border-radius: 4px;
}

.destaque-back {
    background-color: rgba(197, 166, 87, 0.575);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Regras para o menu e seus links */
nav {
    text-align: center;
}

/* Regras para o estado inicial dos links */

/* Seletor descendente */
nav a {
    color: black;
    font-weight: bold;
    background-color: rgba(73, 28, 197, 0.692);
    display: inline-block;
    width: 50%;
    padding: 10px;
    transition: 1s;
}

/* Regras de acionamento dos links (Ex. passar o mouse) */

nav a:hover,
nav a:focus {
    background-color: rgb(188, 196, 176);

}

nav a:first-child {
    border-bottom-left-radius: 10px;
}

nav a:last-child {
    border-bottom-right-radius: 10px;
}

ul { 
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul li {
    color: green;
    list-style-type: square;
}

/* Seletor pseudo-elemento ::marker para alterar o conteúdo do marcador da lista */
ul li::marker {
    content: "💥"; 
    /* Apertar windows e ponto final para aparecer emojis  */
    font-size: 23px;
    font-weight: bold;
    color: blue;
}

/* Pseudo-classes */
ul li:first-child { font-weight: bold; }
ul li:last-child { font-style: italic; }
ul li:nth-child(3) { color: purple; }

/* Cores alternadas */
ul li:nth-child(even) { background: pink; }
ul li:nth-child(odd) { background: lightblue; }