/* Arquivo exclusivo para regras e recursos da linguagem CSS */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgrey;
    color: gray;
}

hr {
    height: 5px;
    background-color: bisque;
    border: none;
}